In [118]:

import pandas as pd 
import psycopg2
import plotly.express as px
import plotly.io as pio
import requests
import json

In [101]:
# data framr creation   
mydb = psycopg2.connect(host="localhost",
                        user="postgres",
                        password="0040",
                        database="phonepe_data",
                        port="5432")
cursor = mydb.cursor()

#aggregated insurance table
cursor.execute("select * from aggregated_insurance")
mydb.commit()
Table1 = cursor.fetchall()

Aggregated_insurance = pd.DataFrame(Table1,columns=("States","Years","Quarter","Transaction_type","Transaction_count","Transaction_amount"))

#aggregated Transaction table
cursor.execute("select * from aggregated_transaction")
mydb.commit()
Table2 = cursor.fetchall()

Aggregated_Transaction = pd.DataFrame(Table2,columns=("States","Years","Quarter","Transaction_type","Transaction_count","Transaction_amount"))

#aggregated USER table
cursor.execute("select * from aggregated_user")
mydb.commit()
Table3 = cursor.fetchall()

Aggregated_USER = pd.DataFrame(Table3,columns=("States","Years","Quarter","Brands","Transaction_count","Percentage"))


#map_transaction table
cursor.execute("select * from map_transaction")
mydb.commit()
Table4 = cursor.fetchall()

Map_Transaction = pd.DataFrame(Table4,columns=("States","Years","Quarter","District","Transaction_count","Transaction_amount"))

#Map_insruence table
cursor.execute("select * from map_insruence")
mydb.commit()
Table5 = cursor.fetchall()

Map_insruence = pd.DataFrame(Table5,columns=("States","Years","Quarter","District","Transaction_count","Transaction_amount"))


#Map_USER table
cursor.execute("select * from map_user")
mydb.commit()
Table6 = cursor.fetchall()

Map_user = pd.DataFrame(Table6,columns=("States","Years","Quarter","District","RegisteredUsers","AppOpens"))


#Top_transaction table
cursor.execute("select * from top_transaction")
mydb.commit()
Table7 = cursor.fetchall()

Top_transaction = pd.DataFrame(Table7,columns=("States","Years","Quarter","Pincodes","Transaction_count","Transaction_amount"))

#TOP_insruence table
cursor.execute("select * from top_insrurence")
mydb.commit()
Table8 = cursor.fetchall()

TOP_insruence = pd.DataFrame(Table8,columns=("States","Years","Quarter","Pincodes","Transaction_count","Transaction_amount"))


#TOP_USER table
cursor.execute("select * from top_user")
mydb.commit()
Table9 = cursor.fetchall()

TOP_USER = pd.DataFrame(Table9,columns=("States","Years","Quarter","Pincodes","RegisteredUsers"))

In [109]:
def top_chart_transactionAmount(table_name):
    mydb = psycopg2.connect(host="localhost",
                            user="postgres",
                            password="0040",
                            database="phonepe_data",
                            port="5432")
    cursor = mydb.cursor()

    #plot 1
    query1 = f'''SELECT states, SUM(transaction_amount) AS transaction_amount
                FROM {table_name}
                GROUP BY states 
                ORDER BY transaction_amount DESC
                LIMIT 10;'''

    cursor.execute(query1)
    table = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table,columns= ("states","transaction_amount"))

    col1, col2 = st.columns(2)

    with col1:
        ammout = px.bar(df_1, x="states",y="transaction_amount",title="Top 10 Of Transaction Amount", hover_name="states",
                        color_discrete_sequence=px.colors.sequential.YlGnBu_r,height=650,width=600)
        ammout.show()
    #st.plotly_chart(ammout)
    # plot2 
    query2 = f'''SELECT states, SUM(transaction_amount) AS transaction_amount
                FROM {table_name}
                GROUP BY states 
                ORDER BY transaction_amount 
                LIMIT 10;'''

    cursor.execute(query2)
    table2 = cursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table2,columns= ("states","transaction_amount"))

    with col2:
        ammout2 = px.bar(df_2, x="states",y="transaction_amount",title="Last 10 of Transaction Amount", hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Rainbow,height=650,width=600)
        ammout2.show()
    #st.plotly_chart(ammout2)
    #plot 3 
    query3 = f'''SELECT states, AVG(transaction_amount) AS transaction_amount
                FROM {table_name}
                GROUP BY states 
                ORDER BY transaction_amount ;'''

    cursor.execute(query3)
    table3 = cursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table3,columns= ("states","transaction_amount"))


    ammout3 = px.bar(df_3, y="states",x="transaction_amount",title="Average of Transaction Amount", hover_name="states",orientation="h",
                    color_discrete_sequence=px.colors.sequential.Darkmint_r,height=800,width=1000)
    ammout3.show()
    #st.plotly_chart(ammout3)

In [ ]:
top_chart_transactionAmount("map_insruence")

In [91]:
def top_chart_transactionCount(table_name):
    mydb = psycopg2.connect(host="localhost",
                            user="postgres",
                            password="0040",
                            database="phonepe_data",
                            port="5432")
    cursor = mydb.cursor()

    #plot 1
    query1 = f'''SELECT states, SUM(Transaction_count) AS Transaction_count
                FROM {table_name}
                GROUP BY states 
                ORDER BY Transaction_count DESC
                LIMIT 10;'''

    cursor.execute(query1)
    table = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table,columns= ("states","Transaction_count"))


    ammout = px.bar(df_1, x="states",y="Transaction_count",title="Transaction count", hover_name="states",
                    color_discrete_sequence=px.colors.sequential.Blackbody,height=650,width=600)
    ammout.show()
    # plot2 
    query2 = f'''SELECT states, SUM(Transaction_count) AS Transaction_count
                FROM {table_name}
                GROUP BY states 
                ORDER BY Transaction_count 
                LIMIT 10;'''

    cursor.execute(query2)
    table2 = cursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table2,columns= ("states","Transaction_count"))


    ammout2 = px.bar(df_2, x="states",y="Transaction_count",title="Transaction Count", hover_name="states",
                    color_discrete_sequence=px.colors.sequential.Blackbody,height=650,width=600)
    ammout2.show()

    #plot 3 
    query3 = f'''SELECT states, AVG(Transaction_count) AS Transaction_count
                FROM {table_name}
                GROUP BY states 
                ORDER BY Transaction_count ;'''

    cursor.execute(query3)
    table3 = cursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table3,columns= ("states","Transaction_count"))


    ammout3 = px.bar(df_3, y="states",x="Transaction_count",title="Transaction count", hover_name="states",orientation="h",
                    color_discrete_sequence=px.colors.sequential.Blackbody,height=800,width=1000)
    ammout3.show()

In [ ]:
top_chart_transactionAmount("map_insruence")

In [ ]:
top_chart_transactionCount("aggregated_transaction")

In [3]:
#Transaction_Year Funaction 
def Transaction_Amout_Count_Year(df, year):
    Tran_Am_Cot_Ye = df[df["Years"]==year]
    Tran_Am_Cot_Ye.reset_index(drop=True, inplace=True)

    Tran_Am_Cot_Ye_Group = Tran_Am_Cot_Ye.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    Tran_Am_Cot_Ye_Group.reset_index(inplace=True)

    ammout = px.bar(Tran_Am_Cot_Ye_Group, x="States",y="Transaction_amount",title=f"{year} - Transaction Amount",
                    color_discrete_sequence=px.colors.sequential.Blackbody,height=650,width=600)
    ammout.show()

    Cout = px.bar(Tran_Am_Cot_Ye_Group, x="States",y="Transaction_count",title=f"{year} - Transaction Count",
                    color_discrete_sequence=px.colors.sequential.Bluyl_r,height=650,width=600)
    Cout.show()

    url  = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"

    response = requests.get(url)
    data1 = json.loads(response.content)

    stat_name = []

    for feature in data1["features"]:
        stat_name.append(feature["properties"]["ST_NM"])

    stat_name.sort()

    indiaMar = px.choropleth(Tran_Am_Cot_Ye_Group,  geojson=data1, locations= "States", featureidkey="properties.ST_NM",
                             color="Transaction_amount",color_continuous_scale="Rainbow",
                             range_color=(Tran_Am_Cot_Ye_Group["Transaction_amount"].min(),Tran_Am_Cot_Ye_Group["Transaction_amount"].max()),
                             hover_name="States",title=f"{year} - Transaction Amount", fitbounds="locations",
                             height=600,width=600)
    indiaMar.update_geos(visible=False)
    indiaMar.show()

    indiaMar2 = px.choropleth(Tran_Am_Cot_Ye_Group,  geojson=data1, locations= "States", featureidkey="properties.ST_NM",
                            color="Transaction_count",color_continuous_scale="Rainbow",
                            range_color=(Tran_Am_Cot_Ye_Group["Transaction_count"].min(),Tran_Am_Cot_Ye_Group["Transaction_count"].max()),
                            hover_name="States",title=f"{year} - Transaction Count", fitbounds="locations",
                            height=600,width=600)
    indiaMar2.update_geos(visible=False)
    indiaMar2.show()

    return Tran_Am_Cot_Ye

In [4]:
#Transaction_Quarter Funaction 
def Transaction_Amout_Count_Year_Quarter(df, Quarter):
    Tran_Am_Cot_Ye = df[df["Quarter"]==Quarter]
    Tran_Am_Cot_Ye.reset_index(drop=True, inplace=True)

    Tran_Am_Cot_Ye_Group = Tran_Am_Cot_Ye.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    Tran_Am_Cot_Ye_Group.reset_index(inplace=True)

    ammout = px.bar(Tran_Am_Cot_Ye_Group, x="States",y="Transaction_amount",title=f"{Tran_Am_Cot_Ye['Years'].unique()} Year {Quarter} Quarter- Transaction Amount",
                    color_discrete_sequence=px.colors.sequential.Blackbody,height=650,width=600)
    ammout.show()

    Cout = px.bar(Tran_Am_Cot_Ye_Group, x="States",y="Transaction_count",title=f"{Tran_Am_Cot_Ye['Years'].unique()} Year {Quarter} Quarter - Transaction Count",
                    color_discrete_sequence=px.colors.sequential.Bluyl_r,height=650,width=600)
    Cout.show()

    url  = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"

    response = requests.get(url)
    data1 = json.loads(response.content)

    stat_name = []

    for feature in data1["features"]:
        stat_name.append(feature["properties"]["ST_NM"])

    stat_name.sort()

    indiaMar = px.choropleth(Tran_Am_Cot_Ye_Group,  geojson=data1, locations= "States", featureidkey="properties.ST_NM",
                             color="Transaction_amount",color_continuous_scale="Rainbow",
                             range_color=(Tran_Am_Cot_Ye_Group["Transaction_amount"].min(),Tran_Am_Cot_Ye_Group["Transaction_amount"].max()),
                             hover_name="States",title=f"{Tran_Am_Cot_Ye['Years'].unique()} Year {Quarter} Quarter- Transaction Amount", fitbounds="locations",
                             height=600,width=600)
    indiaMar.update_geos(visible=False)
    indiaMar.show()

    indiaMar2 = px.choropleth(Tran_Am_Cot_Ye_Group,  geojson=data1, locations= "States", featureidkey="properties.ST_NM",
                            color="Transaction_count",color_continuous_scale="Rainbow",
                            range_color=(Tran_Am_Cot_Ye_Group["Transaction_count"].min(),Tran_Am_Cot_Ye_Group["Transaction_count"].max()),
                            hover_name="States",title=f"{Tran_Am_Cot_Ye['Years'].unique()} Year {Quarter} Quarter- Transaction Count", fitbounds="locations",
                            height=600,width=600)
    indiaMar2.update_geos(visible=False)
    indiaMar2.show()

    return Tran_Am_Cot_Ye

In [5]:
#Transaction_type 
def aggre_transa_type(df,state):
    Tran_Am_Cot_Ye = df[df["States"]==state]
    Tran_Am_Cot_Ye.reset_index(drop=True, inplace=True)

    Tran_Am_Cot_Ye_Group = Tran_Am_Cot_Ye.groupby("Transaction_type")[["Transaction_count","Transaction_amount"]].sum()
    Tran_Am_Cot_Ye_Group.reset_index(inplace=True)
    pie_1 = px.pie(data_frame= Tran_Am_Cot_Ye_Group, names="Transaction_type", values="Transaction_amount", width=600,title=f"{state.upper()} Transaction Amount", hole=0.3)
    pie_1.show()


    pie_2 = px.pie(data_frame= Tran_Am_Cot_Ye_Group, names="Transaction_type", values="Transaction_count", width=600,title=f"{state.upper()} Transaction Count", hole=0.3)
    pie_2.show()

In [6]:
#Aggregated USER Analysis _1 
def Agger_User_plot_1(df, year):
    agger_user_year = df[df["Years"]==year]
    agger_user_year.reset_index(drop=True, inplace=True)

    agger_user_year_Group = pd.DataFrame(agger_user_year.groupby("Brands")[["Transaction_count","Percentage"]].sum())
    agger_user_year_Group.reset_index(inplace=True)

    user_bar_1 =  px.bar(agger_user_year_Group, x= "Brands", y= "Transaction_count", title=f"{year} Brands and Transaction Count",
                        width=1000,color_discrete_sequence=px.colors.sequential.haline,hover_name="Brands")
    user_bar_1.show()
    return agger_user_year

In [7]:
#Aggregated USER Analysis _2 
def Agger_User_plot_2(df,Quarter):
    agger_user_Quarter  = df[df["Quarter"]==Quarter]
    agger_user_Quarter.reset_index(drop=True, inplace=True)

    agger_user_Quarter_group = pd.DataFrame(agger_user_Quarter.groupby("Brands")["Transaction_count"].sum())
    agger_user_Quarter_group.reset_index(inplace=True)

    user_bar_2 =  px.bar(agger_user_Quarter_group, x= "Brands", y= "Transaction_count", title=f"{Quarter} (Quarter) Brands and Transaction Count",
                        width=1000,color_discrete_sequence=px.colors.sequential.haline,hover_name="Brands")
    user_bar_2.show()
    return agger_user_Quarter

In [8]:
#Agger_User_plot_3 
def Agger_User_plot_3(df,state):
    Agger_User_yer_quo_stat = df[df["States"]==state]
    Agger_User_yer_quo_stat.reset_index(drop=True,inplace=True)

    line_1  = px.line(Agger_User_yer_quo_stat, x = "Brands", y= "Transaction_count", hover_data="Percentage",title=f"{state} Brands and Transaction Count and Percentage",
                    width=700,markers=True)
    line_1.show()

In [9]:
#Map insurcence District
def Map_insru_Distric_type(df,state):
    Tran_Am_Cot_Ye = df[df["States"]==state]
    Tran_Am_Cot_Ye.reset_index(drop=True, inplace=True)

    Tran_Am_Cot_Ye_Group = Tran_Am_Cot_Ye.groupby("District")[["Transaction_count","Transaction_amount"]].sum()
    Tran_Am_Cot_Ye_Group.reset_index(inplace=True)
    
    pie_bar_1 = px.bar(Tran_Am_Cot_Ye_Group, x="Transaction_amount",y="District",orientation="h",
                       title=f"{state} District and Transaction Amount",color_discrete_sequence=px.colors.sequential.Peach_r)   
    pie_bar_1.show()


    pie_bar_2 = px.bar(Tran_Am_Cot_Ye_Group, x="Transaction_count",y="District",orientation="h",
                       title=f"{state} District and Transaction Count",color_discrete_sequence=px.colors.sequential.Plasma_r)
    pie_bar_2.show()

In [10]:
#map user plot _1
def map_user_plot_1 (df,year):
    map_user_year = df[df["Years"]==year]
    map_user_year.reset_index(drop=True, inplace=True)

    Map_user_year_Group = map_user_year.groupby("States")[["RegisteredUsers","AppOpens"]].sum()
    Map_user_year_Group.reset_index(inplace=True)
    

    line_1_Map  = px.line(Map_user_year_Group, x = "States", y= ["RegisteredUsers","AppOpens"], title=f"{year} Registered Users and AppOpens",
                    width=900,height=900,markers=True)
    line_1_Map.show()

    return map_user_year

In [198]:
#map user plot _2
def map_user_plot_2 (df,Quarter):
    map_user_year_Quarter = df[df["Quarter"]==Quarter]
    map_user_year_Quarter.reset_index(drop=True, inplace=True)

    Map_user_year_Group_Quarter = map_user_year_Quarter.groupby("States")[["RegisteredUsers","AppOpens"]].sum()
    Map_user_year_Group_Quarter.reset_index(inplace=True)
    

    line_1_Map  = px.line(Map_user_year_Group_Quarter, x = "States", y= ["RegisteredUsers","AppOpens"], title=f"{df['Years'].max()} Year {Quarter} (Quarter) Registered Users and AppOpens",
                    width=1000,height=900,markers=True,color_discrete_sequence=px.colors.sequential.Rainbow )
    line_1_Map.show()

    return map_user_year_Quarter

In [11]:
#map_user_plot_3
def map_user_plot_3(df,States):
    map_user_Year_Quarter  = df[df["States"]==States]
    map_user_Year_Quarter.reset_index(drop=True, inplace=True)

    map_user_bar1 = px.bar(map_user_Year_Quarter, x = "RegisteredUsers", y = "District",orientation="h",
                        title= "Registered Users",height=800,color_discrete_sequence=px.colors.sequential.Aggrnyl)
    map_user_bar1.show()

    map_user_bar2 = px.bar(map_user_Year_Quarter, x = "AppOpens", y = "District",orientation="h",
                        title= "AppOpens",height=800,color_discrete_sequence=px.colors.sequential.RdBu_r)
    map_user_bar2.show()

In [32]:
#top_insruence_plot_1
def top_insruence_plot_1(df,state):
    top_user_insruenc_year_Quarter = df[df["States"]==state]
    top_user_insruenc_year_Quarter.reset_index(drop=True, inplace=True)

    top_user_bar1 = px.bar(top_user_insruenc_year_Quarter, x = "Quarter", y = "Transaction_amount", hover_data= "Pincodes",
                        title= "Transaction Amount",height=800,color_discrete_sequence=px.colors.sequential.Blackbody_r)
    top_user_bar1.show()

    top_user_bar2 = px.bar(top_user_insruenc_year_Quarter, x = "Quarter", y = "Transaction_count", hover_data= "Pincodes",
                    title= "Transaction Count",height=800,color_discrete_sequence=px.colors.sequential.Pinkyl_r)
    top_user_bar2.show()

In [ ]:
#top_user_plot_1
def top_user_plot_1(df, year):
    top_user_year = df[df["Years"]==year]
    top_user_year.reset_index(drop=True, inplace=True)

    top_user_year_Group = pd.DataFrame(top_user_year.groupby(["States","Quarter"])[["RegisteredUsers"]].sum())
    top_user_year_Group.reset_index(inplace=True)


    top_plot1 = px.bar(top_user_year_Group, x="States", y="RegisteredUsers", color="Quarter", width=1000, height=800, 
                    color_discrete_sequence=px.colors.sequential.Bluered_r,hover_name="States",title=f"{year} Registered Users")
    top_plot1.show()
    return top_user_year

In [77]:
#top_user_plot_2
def top_user_plot_2(df,state):
    top_user_state_year = df[df["States"]==state]
    top_user_state_year.reset_index(drop=True, inplace=True)

    top_plot_2  = px.bar(top_user_state_year, x= "Quarter", y  = "RegisteredUsers", title=f"{state} Registered Users and Pincodes with Quarter",
                        width=1000,height=700,color="RegisteredUsers", hover_data="Pincodes",
                        color_continuous_scale= px.colors.sequential.RdBu)
    top_plot_2.show()

In [ ]:
def top_chart_register_user(table_name, state):
    mydb = psycopg2.connect(host="localhost",
                            user="postgres",
                            password="0040",
                            database="phonepe_data",
                            port="5432")
    cursor = mydb.cursor()

    #plot 1
    query1 = f'''SELECT districts,sum(registeredUsers) as registeredUsers
                    from {table_name}
                    where states = '{state}'
                    group by districts
                    order by registeredUsers DESC
                    limit 10;'''

    cursor.execute(query1)
    table = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table,columns= ("districts","registeredUsers"))

    col1, col2 = st.columns(2)

    with col1:
        ammout = px.bar(df_1, x="districts",y="registeredUsers",title="Top 10 of Registered Users", hover_name="districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650,width=600)
        ammout.show()
    
    # plot2 
    query2 = f'''SELECT districts,sum(registeredUsers) as registeredUsers
                    from {table_name}
                    where states = '{state}'
                    group by districts
                    order by registeredUsers 
                    limit 10;'''

    cursor.execute(query2)
    table2 = cursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table2,columns= ("districts","registeredUsers"))

    with col2:
        ammout2 = px.bar(df_2, x="districts",y="registeredUsers",title="Last 10 of Registered Users", hover_name="districts",
                        color_discrete_sequence=px.colors.sequential.Rainbow,height=650,width=600)
        ammout2.show()
   
    query3 = f'''SELECT districts,AVG(registeredUsers) as registeredUsers
                from {table_name}
                where states = '{state}'
                group by districts
                order by registeredUsers;'''

    cursor.execute(query3)
    table3 = cursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table3,columns= ("districts","registeredUsers"))


    ammout3 = px.bar(df_3, y="districts",x="registeredUsers",title="Average of Registered Users", hover_name="districts",orientation="h",
                    color_discrete_sequence=px.colors.sequential.Darkmint_r,height=800,width=1000)
    ammout3.show()

In [125]:
def top_chart_appopen(table_name, state):
    mydb = psycopg2.connect(host="localhost",
                            user="postgres",
                            password="0040",
                            database="phonepe_data",
                            port="5432")
    cursor = mydb.cursor()

    #plot 1
    query1 = f'''SELECT districts,sum(AppOpens) as AppOpens
                    from {table_name}
                    where states = '{state}'
                    group by districts
                    order by AppOpens DESC
                    limit 10;'''

    cursor.execute(query1)
    table = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table,columns= ("districts","AppOpens"))

    col1, col2 = st.columns(2)

    with col1:
        ammout = px.bar(df_1, x="districts",y="AppOpens",title="Top 10 of AppOpens", hover_name="districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650,width=600)
        ammout.show()
    
    # plot2 
    query2 = f'''SELECT districts,sum(AppOpens) as AppOpens
                    from {table_name}
                    where states = '{state}'
                    group by districts
                    order by AppOpens 
                    limit 10;'''

    cursor.execute(query2)
    table2 = cursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table2,columns= ("districts","AppOpens"))

    with col2:
        ammout2 = px.bar(df_2, x="districts",y="AppOpens",title="Last 10 of AppOpens", hover_name="districts",
                        color_discrete_sequence=px.colors.sequential.Rainbow,height=650,width=600)
        ammout2.show()
   
    query3 = f'''SELECT districts,AVG(AppOpens) as ApapOpens
                from {table_name}
                where states = '{state}'
                group by districts
                order by AppOpens;'''

    cursor.execute(query3)
    table3 = cursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table3,columns= ("districts","AppOpens"))


    ammout3 = px.bar(df_3, y="districts",x="AppOpens",title="Average of AppOpens", hover_name="districts",orientation="h",
                    color_discrete_sequence=px.colors.sequential.Darkmint_r,height=800,width=1000)
    ammout3.show()

In [ ]:
def top_chart_Top_user(table_name):
    mydb = psycopg2.connect(host="localhost",
                            user="postgres",
                            password="0040",
                            database="phonepe_data",
                            port="5432")
    cursor = mydb.cursor()

    #plot 1
    query1 = f'''select states, sum(registeredUsers) as registeredUsers
                from {table_name}
                group by states
                order by registeredUsers
                limit 10;'''

    cursor.execute(query1)
    table = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table,columns= ("states","registeredUsers"))

    col1, col2 = st.columns(2)

    with col1:
        ammout = px.bar(df_1, x="districts",y="registeredUsers",title="Top 10 of Registered Users", hover_name="districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650,width=600)
        ammout.show()
    
    # plot2 
    query2 = f'''select states, sum(registeredUsers) as registeredUsers
            from {table_name}
            group by states
            order by registeredUsers Desc
            limit 10;'''

    cursor.execute(query2)
    table2 = cursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table2,columns= ("states","registeredUsers"))

    with col2:
        ammout2 = px.bar(df_2, x="states",y="registeredUsers",title="Last 10 of Registered Users", hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Rainbow,height=650,width=600)
        ammout2.show()
   
    query3 = f'''select states, AVG(registeredUsers) as registeredUsers
                from {table_name}
                group by states
                order by registeredUsers;'''

    cursor.execute(query3)
    table3 = cursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table3,columns= ("states","registeredUsers"))


    ammout3 = px.bar(df_3, y="states",x="registeredUsers",title="Average of Registered Users", hover_name="states",orientation="h",
                    color_discrete_sequence=px.colors.sequential.Darkmint_r,height=800,width=1000)
    ammout3.show()

In [126]:
top_chart_appopen("Map_user", "Tamil Nadu")

NameError: name 'st' is not defined

## Aggregated_insurance

In [ ]:
Tran_Am_Cot_Ye_NEW = Transaction_Amout_Count_Year(Aggregated_insurance,2021)

In [ ]:
Transaction_Amout_Count_Year_Quarter(Tran_Am_Cot_Ye_NEW,3)

### Aggregated_Transaction

In [ ]:
Agg_Tran_year = Transaction_Amout_Count_Year(Aggregated_Transaction,2021)

In [ ]:
aggre_transa_type(Agg_Tran_year,"Haryana")

In [ ]:
Agg_Tran_year_Q  = Transaction_Amout_Count_Year_Quarter(Agg_Tran_year,3)

In [ ]:
aggre_transa_type(Agg_Tran_year_Q,"Haryana")

### Aggregated_USER

In [ ]:
Aggregated_USER_YEAR =  Agger_User_plot_1(Aggregated_USER, 2021)

In [ ]:
Agg_Tran_year_Quarter  = Agger_User_plot_2(Aggregated_USER_YEAR,3)

In [ ]:
Agger_User_plot_3(Agg_Tran_year_Quarter,"Andaman & Nicobar")

## Map Insrurence

In [ ]:
MAP_Insrurence_Year = Transaction_Amout_Count_Year(Map_insruence,2022)

In [ ]:
Map_insru_Distric_type(MAP_Insrurence_Year,"West Bengal")

In [ ]:
MAP_Insrurence_Year_Quarter  = Transaction_Amout_Count_Year_Quarter(MAP_Insrurence_Year,3)

In [ ]:
Map_insru_Distric_type(MAP_Insrurence_Year_Quarter,"Haryana")

## Map_Transaction

In [ ]:
MAP_Transaction_Year = Transaction_Amout_Count_Year(Map_Transaction,2023)

In [ ]:
Map_insru_Distric_type(MAP_Transaction_Year,"West Bengal")

In [ ]:
MAP_Transaction_Year_Quarter  = Transaction_Amout_Count_Year_Quarter(MAP_Transaction_Year,3)

In [ ]:
Map_insru_Distric_type(MAP_Transaction_Year_Quarter,"Haryana")

## Map_user

In [ ]:
map_user_year = map_user_plot_1 (Map_user,2023)

In [ ]:
map_user_year_Quarter = map_user_plot_2(map_user_year,2)

In [ ]:
map_user_plot_3(map_user_year_Quarter,"West Bengal")

## TOP_insruence

In [ ]:
Top_insruence_Year = Transaction_Amout_Count_Year(TOP_insruence,2023)

In [ ]:
top_insruence_plot_1(Top_insruence_Year,"West Bengal")

In [ ]:
Top_insruence_Year_Quarter  = Transaction_Amout_Count_Year_Quarter(Top_insruence_Year,3)

## Top_transaction

In [ ]:
Top_transaction_Year = Transaction_Amout_Count_Year(Top_transaction,2023)

In [ ]:
top_insruence_plot_1(Top_transaction_Year,"West Bengal")

In [ ]:
Top_transaction_Year_Quarter  = Transaction_Amout_Count_Year_Quarter(Top_transaction_Year,3)

## TOP_USER

In [ ]:
top_user_Y  = top_user_plot_1(TOP_USER, 2021)

In [ ]:
top_user_plot_2(top_user_Y, "Tamil Nadu")